body{
    margin: 0;
    
}

.page {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

ul {
    display: flex;
    list-style: none;
    gap:20px
}

ul li {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    width: 80px;
    text-align: center;
    
}

ul li a{
    text-decoration: none;
    color: #7D7987
}

ul li a:hover{
   font-weight: bold; 
   color: black;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Mulish", sans-serif;
    font-size: 49px;
}

h1 spam{
    color: #7489FD
}

main p {
    color: #7D7987;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}

button {
    font-family: "Mulish", sans-serif;
    color: white;
    background-color: #5B3FFD;
    border: 0;
    padding: 15px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;

}

button:hover{
    background-color:  #4527f3;
    cursor: pointer;
}

footer{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    
    
}

footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px; 
    text-align: center; 
    margin: 0;

    
}

footer p a{
    text-decoration: none;
    font-weight: bold;
    color: black;    
}